<!-- LIST TABLE  -->


<div class="mb-3">

    <a routerLink="/dashboard/employees/add" class="btn btn-sm btn-primary">Add
        new Employee</a>

</div>

<div class="card">
    <div class="card-body">
        <table class="table">

            <thead>
        
                <tr>
        
                    <th>Full Name</th>
        
                    <th>Email</th>
        
                    <th>Address</th>
        
                    <th>Phone</th>
        
                    <th>Actions</th>
        
                </tr>
        
            </thead>
        
            <tbody>
        
                <tr *ngFor="let
        employee
        of
        employees">
        
                    <td>{{  employee.user.fullName }}</td>
        
                    <td>{{  employee.user.email }}</td>
        
                    <td>{{  employee.address }}</td>
        
                    <td>{{  employee.phone }}</td>
        
                    <td> 
        
                        <button class="btn btn-sm btn-danger" (click)="deleteEmployee(employee.id)">
        
                            <i class="bi bi-trash"></i>
        
                        </button>
        
                </tr>
        
            </tbody>
        
        </table>
    </div>
</div>