<div class="card" *ngIf="company != null">
    <div class="card-body">
        <h3>{{ company.name }}</h3>
        <div>
            <span class="badge bg-primary text-white">{{ company.activity_sector }}</span>
        </div>
        <p class="text-muted mb-0">
            {{ company.descreption }}
        </p>
        <p class="text-muted mb-0">
            {{ company.email }} / {{ company.phone }} / {{ company.fax }}
        </p>
        <p class="text-muted mb-0">
            {{ company.descreption }}
        </p>
        <p class="text-muted mb-0">
            {{ company.social }}
        </p>
    </div>
    
</div>

 